<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">
  <servlet>
    <servlet-name>Ping</servlet-name>
    <servlet-class>edu.vanderbilt.SimpleServlet$Ping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ping</servlet-name>
    <url-pattern>/server/ping</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Poll</servlet-name>
    <servlet-class>edu.vanderbilt.SimpleServlet$Poll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poll</servlet-name>
    <url-pattern>/server/poll</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PostSprite</servlet-name>
    <servlet-class>edu.vanderbilt.SimpleServlet$PostSprite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostSprite</servlet-name>
    <url-pattern>/server/postsprite</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddRole</servlet-name>
    <servlet-class>edu.vanderbilt.SimpleServlet$AddRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRole</servlet-name>
    <url-pattern>/addrole</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadRole</servlet-name>
    <servlet-class>edu.vanderbilt.SimpleServlet$DownloadRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadRole</servlet-name>
    <url-pattern>/downloadrole/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteRole</servlet-name>
    <servlet-class>edu.vanderbilt.SimpleServlet$DeleteRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRole</servlet-name>
    <url-pattern>/deleterole</url-pattern>
  </servlet-mapping>
</web-app>
